body {
    font-family: 'Indie Flower';
    text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Startup {
  animation: Startup-fly infinite 20s linear;
  position: fixed;
  padding-top: 20vmin;
  z-index: -1;
}

@keyframes Startup-fly {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Principal {
	text-align: center;
	padding-top: 10vmin;
	font-size: 10vmin;
    padding: 10vmin;
}

.Boton {
	background-color: cornflowerblue;
    border-radius: 6vmin;
    padding: 2vmin;
    margin: auto;
    width: 88vmin;
	     text-decoration: none;
    font-weight: bold;
	 color: black;
 }

 a {
	 margin: 2vmin;
	     text-decoration: none;
	 color: black;
 }

 .Primera {
	 height: 100vh;
 }
 .Segunda {
	 height: 100vh;
 }
